.main{
  display: flex;
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: .8rem;
  background-color: $color-addit-back;
  border: 1px solid $color-border;

  &__img{
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
  }
  &__inner{
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    &-title{
      font-size: 3.5rem;
    }
  }
}

.player{

  &__control{

  }
}
