body{
  background-color: $color-main-back;
  color: $color-main-text;
  font-family: 'Montserrat';
}

#root{
  width: 100%;
  margin: auto;
}

@media (min-width: 1200px){
  #root{
    max-width: 1140px;
  }
}

@media (max-width: 1190px) {
  #root{
    max-width: 950px;
  }
}

@media (max-width: 980px) {
  html{
    font-size: 59%;
  }
  #root{
    max-width: 740px;
  }
}

@media (max-width: 780px) {
  html{
    font-size: 57%;
  }
  #root{
    max-width: 540px;
  }
}

@media (max-width: 480px) {
  html{
    font-size: 47%;
  }
  #root{
    max-width: 320px;
  }
}
