$color-main-back: rgb(34, 41, 41);
$color-addit-back: rgb(45, 54, 54);
$color-border: rgb(104, 117, 117);
$color-hover-default: rgb(77, 119, 119);

$color-main-text: #fff;

$color-menu-item: rgb(1, 107, 107);

$color-active-correct: rgb(32, 184, 184);
$color-incorrect: rgb(184, 32, 32);
